.header {
  height: 1000px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0), #fff8f8 100%, #b57474);
  position: relative;
  &-logo__img {
    width: 63px;
    height: 63px;
  }
  &-logo__link {
    display: flex;
    align-items: center;
  }
  &-logo__text {
    font-size: 19px;
    color: $text-title-color;
    font-weight: bold;
    padding-left: 14px;
  }
}
.navbar {
  display: flex;
  align-items: center;
  padding-top: 10px;
  // position: fixed;
  // right: 0;
  // left: 0;
  // top: 0;
  // z-index: 1;
  &-list {
    display: flex;
    margin-left: auto;
    font-size: 18px;
    line-height: 22px;
    &-item__link {
      color: $text-title-color;
      margin-left: 40px;
      &:hover {
        transition: all 0.2s linear;
        color: $red-text;
      }
    }
    &-item__button {
      margin-left: 40px;
      padding: 16px 45px;
      border: 2px solid $main-red;
      color: $main-red;
      border-radius: 50px;
      &:hover {
        color: #fff;
        background-color: $main-red;
        transition: all 0.2s linear;
      }
    }
  }
}
.header-content {
  display: flex;
  align-items: center;
}

.pad-top-header {
  padding-top: 260px;
}

.header-content__girl {
  max-width: 100%;
  max-height: 100%;
  top: 100px;
  position: absolute;
  right: 0;
}
