.mask {
  margin-top: 100px;
}
.mask-item {
  @include flex-box(center, space-between);
  &-box__text {
    max-width: 540px;
  }
}
.mask-number {
  @include flex-box(center, center);
  width: 75px;
  height: 75px;
  font-size: 44px;
  font-weight: bold;
  color: $main-red;
  background-color: $pink-circle;
  padding: 10px;
  border-radius: 50%;
  margin-right: 40px;
}
.mask-item-box {
  display: flex;
}
.mask-item-box__title {
  color: $text-title-color;
  font-size: 47px;
  font-weight: bold;
}
.mask-item-box__text {
  font-size: 18px;
  line-height: 1.6;
  color: $text-black-color;
}
.mask-item:first-child {
  margin-top: 75px;
}
.mask-content {
  position: relative;
}
.virus-green {
  position: absolute;
  top: 20%;
  left: 0;
  z-index: -1;
}
.virus-pink-mask {
  position: absolute;
  bottom: 10%;
  right: 0;
  z-index: -1;
}
.virus-green-sml {
  position: absolute;
  bottom: 20%;
  right: 10%;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .mask-item__img {
    width: 100%;
    height: auto;
  }
  .mask-number {
    width: 50px;
    height: 25px;
    font-size: 24px;
  }
  .virus-pink-mask {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .mask-item__img {
    max-width: 400px;
    height: auto;
  }
}
@media screen and (max-width: 740px) {
  .mask-item {
    flex-direction: column;
  }
  .mask-item-box__title {
    font-size: 30px;
  }
  .virus-green {
    height: 150px;
    width: auto;
  }
  .mask-item:nth-child(2),
  .mask-item:nth-child(4) {
    flex-direction: column-reverse;
  }
  .virus-green-sml {
    width: 80px;
    height: auto;
  }
}
