.subscribe {
  text-align: center;
  &-title {
    color: $text-title-color;
    font-size: 64px;
    margin-bottom: 60px;
    span {
      display: block;
    }
  }
  &-input {
    font-size: 22px;
    border: none;
    outline: none;
    box-shadow: 2px 1px 24px 12px rgba(0, 0, 0, 0.04);
    padding: 40px 250px 40px 40px;
    border-radius: 50px;
    max-width: 600px;
  }
}
.subscribe-content {
  position: relative;
  margin-top: 150px;
}
.btn-submit {
  font-size: 20px;
  color: white;
  padding: 26px 80px;
  background-color: $red-button;
  border: none;
  border-radius: 50px;
  position: absolute;
  right: 32%;
  top: 13%;
  cursor: pointer;
  &:hover {
    color: #fff;
    background-color: $main-red;
    transition: all 0.2s linear;
  }
}
.form {
  position: relative;
}
.vr-subcribe {
  position: absolute;
  right: 0;
  bottom: 20%;
}
.vr-subcribe-sml {
  position: absolute;
  right: 10%;
  top: 20%;
}
@media screen and (max-width: 1024px) {
  .subscribe-input {
    padding: 40px;
  }
  .btn-submit {
    right: 17%;
    top: 12%;
  }
  .vr-subcribe {
    display: none;
  }
  .vr-subcribe-sml {
    z-index: -1;
  }
}
@media screen and (max-width: 768px) {
  .subscribe-title {
    font-size: 46px;
  }
  .subscribe-input {
    padding: 36px 30px;
  }
  .btn-submit {
    right: 7%;
  }
}
@media screen and (max-width: 740px) {
  .subscribe-title {
    font-size: 30px;
  }

  input.subscribe-input {
    font-size: 16px;
    padding: 20px;
    // width: 100%;
  }
  input.btn-submit {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
  }
}
